<!DOCTYPE html>
<html lang="ru">
<head>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">


  <meta charset="utf-8">
  <meta name="description" content="Краткое описание страницы">
  <title>Вакансии</title>

</head>

<body>
<header>
      {% include 'includes/header.html' %}
</header>
<blockquote class="blockquote text-center">
 <h1>Vacancies</h1>
</blockquote>

{% for vacancy in vacancies %}
  <div class="row container gy-5">
    <div class="card col-9 text-center p-3 border bg-light">


          <h5 class="card-header"> {{ vacancy.title }} </h5>
          <div class="card-body">
            <p>
              <h5>Зарплата</h5>
              {{ vacancy.salary }}
            </p>
            <h5 class="card-subtitle">Описание</h5>
            <p>{{ vacancy.description }}</p>
          </div>
    </div>
    <div class="card col-3 p-3 border bg-light">
       <p>{{ vacancy.company }}</p>
        <p>
             <a href = "{% url 'vacancies:vacancy_detail' vacancy.pk%}" class="btn btn-primary">Читать целиком</a>
        </p>
    </div>

{% endfor %}

</body>

</html>