<html>
{% load static %}
{% load thumbnail %}

<head>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous">


  <meta charset="utf-8">
  <meta name="description" content="Краткое описание страницы">
  <title>{{ vacancy.title }}</title>

</head>

<body>
<header>
      {% include 'includes/header.html' %}
</header>
<div class="row">

  <h4 class="card  text-center"> {{ vacancy.title }} </h4>

    <div class="col-6 card-body text-left">

        <p>
          <h5>Зарплата</h5>
          {{ vacancy.salary }}
        </p>
      <h5 class="card-subtitle">Описание</h5>
      <p>{{ vacancy.description }}</p>
    </div>
    <div class="col-3">

         <h3>{{ vacancy.company }}</h3>
        {% thumbnail vacancy.image "300x200" crop="left" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <br>
        <h4>{{ vacancy.company.about }}</h4>
        <div <h3> Наши контакты </h3>
            <h5>{{ vacancy.company.email }}</h5>
            <h5>{{ vacancy.company.city }}</h5>
            <h5>{{ vacancy.company.addres }}</h5>
            <h5>{{ vacancy.company.phone_number }}</h5>
            <h5>{{ vacancy.company.address }}</h5>
            <h5>{{ vacancy.company.tg_link }}</h5>
            <h5>{{ vacancy.company.vk_link }}</h5>


        </div>

        {% if request.user.is_authenticated and is_applicant == True and is_sent == False  %}

                <p>
                    <a href ="{% url 'vacancies:feedback' vacancy.pk%}" class="btn btn-primary">Откликнуться</a>
                </p>

        {% endif %}
    </div>

    <div class="col-3 text-center">

    </div>
</div>

</body>
</html>